source C:\git\packages
source "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\"
source https://api.nuget.org/v3/index.json

nuget AsyncEnumerator 2.2.1
nuget Microsoft.Azure.Storage.Blob 9.4.2
nuget Microsoft.NET.Test.Sdk 16.0.1
nuget MimeTypesMap 1.0.3
nuget SSH.NET 2016.1.0
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.1

github Ekenstein/Rngers Rngers/RandomExtensions.cs
